body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.subtitulo1{text-align: center;
  color: #222;
  margin-top: 2rem;
  justify-content: center;

  
}

@keyframes pulso {
  0% { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}

h1 {
  text-align: center;
  color: #222;
  margin-top: 2rem;
}

.quiz-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.flashcard-inner {
  width: 100%;
  max-width: 320px;
  height: 200px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.flashcard-inner.flipped {
  transform: rotateY(180deg);
}

.flashcard {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: #5b9de8;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  font-size: 1.2rem;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.flashcard:hover{
  background: #9cc3f1;
  color: #222;
}

.flashcard.back {
  transform: rotateY(180deg);
}

.divHead{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.logoucv{
  padding-top: 1.5rem;
width: 5rem;
display: block;
align-items: center;
justify-content: center;
}

.question-block h4 {
  font-size: x-small;
  text-align: left;
  margin-top: 0;
  font-weight: normal;
  color: #555;
}

.subtitulo2{
font-size: small;
  text-align: left;
  margin-top: 0;
  font-weight: normal;
  color: #555;

}

.btn {
  padding: 0.7rem 1.2rem;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
}

.btn:hover {
  background: #5b9de8;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 1rem auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

.student-header{
  text-align: center;
}